<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
    data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <app-header [collapedSideBar]="collapedSideBar"></app-header>
    <app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>

    <section [ngClass]="{ collapsed: collapedSideBar }" class="main-container">
        <div class="page-wrapper">
            <app-title></app-title>
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
    </section>

    <!-- <div class="page-wrapper">
        <app-title></app-title>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div> -->
</div>