<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <div class="list-group mt-2">
        <ng-template ngFor let-menu [ngForOf]="menuItems">
            <div class="nested-menu" *ngIf="menu.submenu.length>0;else simpleMenu">
                <a class="m-2" (click)="addExpandClass(menu?.expandLink)" class="list-group-item"
                    [class.active]="router.url===menu.routerLink">
                    <i class="fa fa-fw {{menu.icon}}"></i>
                    <span>{{ menu.routeName}}</span>
                </a>
                <li [class.expand]="showMenu === menu?.expandLink" class="nested">
                    <ul class="submenu">
                        <li *ngFor="let smenu of menu.submenu">
                            <a (click)="navigateToPage(smenu)" class="list-group-item"
                                [class.active]="router.url===smenu.routerLink">
                                <i class="fa {{smenu.icon}}"></i>&nbsp;
                                <span>{{smenu.routeName}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <ng-template #simpleMenu>
                <a *ngIf="menu.isShow!=false" class="list-group-item" (click)="navigateToPage(menu)"
                    [class.active]="router.url===menu.routerLink">
                    <i class="fa fa-fw {{menu.icon}}"></i>
                    <span>{{ menu.routeName}}</span>
                </a>
            </ng-template>
        </ng-template>

    </div>
    <div (click)="toggleCollapsed()" [ngClass]="{ collapsed: collapsed }" class="toggle-button">
        <i class="fa fa-fw fa-angle-double-{{ collapsed ? 'right' : 'left' }}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' }}</span>
    </div>
</nav>